/**** nav global ****/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #FBFAE6; */

  border-bottom: 1px solid #e7e7e7;
  
}

li {
  float: right;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 72px;
}


.logo {
  width: 135px;
  height: 95px;
}

a {
  color: black;
  margin-top: 20px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;

}

a:hover {
  color: green;
  text-decoration: none;
}

img#navLogo {
  width: 135px;
  height: 55px
}


/* body {
  background-color: #FBFAE6;
} */

/* navbar */
/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border: 1px solid #e7e7e7;
  } */
  
  /* li {
    float: right
  } */
  
  /* li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 72px
  } */
  

  /* .logo {
    width: 135px;
    height: 95px;
} */

/* a {
    color: black !important;
    margin-top: 20px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;

}

a:hover {
    color: green;
    text-decoration: none;
  } */

.h2 {
  font-family: 'Poppins', sans-serif;
}


/**** slogan ****/
.slogan {
  /* text-align: center; */
  font-size: 28px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 5;
  font-family: 'Poppins', sans-serif;
  width: 60%
}

.mission {
  border: red 1px solid
}

h4 {
  width: 80%
}

button.join {
  border: 2px solid red;
  background: white;
  font-family: 'Poppins', sans-serif;
  border-radius: 25px;
  font-size: 18px;
  box-shadow: 3px 3px 5px grey;
  
}


/**** mainImg ****/
.mainImg {
  width: 100%;
  height: 275px;
 
}

.name {
  text-align: center;
  font-size: 28px;
  margin-top: 25px;
  margin-bottom: 25px
}

.sectionText {
  padding-left: 15px;
  padding-right: 15px;
}

/***** medical *****/
/* div .medDiv {
  background: white;
  width: 100%;
  height: 785px;
  
}  */


/* img.medical {
  width: 100%;
  height: 200px;
  padding-left: 15px;
  padding-right: 15px;
} */

/* img.school {
  display: none
} */

.sectionTitle{
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 50

}

/* .medical { */
  
  /* font-family: 'Poppins', sans-serif;
  margin-top: 150px;
  margin-bottom: 35px;
  font-weight: 400; */
/* } */

/* div .medical {
  margin-top: 35px
} */

button .joinAlt{
  background: #f2f2f2 !important;
  margin: auto !important;
  color: darkgreen !important;
  /* border-color: green !important; */
  border-radius: 12px !important;
  margin-bottom: 15px
}

.joinAlt{
  margin: auto;
  display: block;  
  border: 2px solid black 
}

/**** school *****/
.schoolDiv {
  background-color: white;
  width: 100%;
  height: 700px
  /* margin-top: 75px */
}

.school {
  /* height: 415px;
  width: 519px; */
  font-family: 'Poppins', sans-serif;
  /* margin-top: 150px;
  margin-bottom: 150px; */
  font-weight: 400;
}

button .join{
  margin: auto !important;
  width: 50% !important;
  color: darkgreen !important;
}

.join {
  margin: auto;
  display: block;
}

img.school {
  width: 150px;
  height: 150px;
 
}

/**** mother ***/

img.mother {
  height: 150px;
  width: 150px;
  box-shadow: 2px 2px 5px grey;
}

.motherDiv {
  background: white;
  width: 100%;
  height: 750px;
  
}


/**** footer *****/
.footerDesign {
  display: none
}

a.fa.fa-facebook {
  display: none
}

.footerLogo {
  display: none;
  margin: 75px
}



.footerContainer {
  border-top: 2px solid #f2f2f2;
  margin-top: 50px;
  margin-bottom: 50px;
  /* display: flex; */
  justify-content: center;  
  align-items: center;
  text-align: center
  /* justify-content: space-evenly; */
}  


.footerTop {
  margin-top: 45px
}

.footerPortfolio {
  margin-top: 25px;
  width: 33%
}

@media only screen and (min-width: 768px) {
  .covid {
    display: none
  }

  .slogan {
    text-align: center;
    /* margin-top: 50px */
  }

  .sloganDiv{
    height: 100px;
    align-items: center;
    text-align: center;
  }

  .mainImg {
    width: 100%;
    /* height: 980px; */
    height: 600px
   
  }

}

/**** tablet ****/
.direct {
  display: block;
  padding-bottom: 0px;
  margin-top: 0px;
  height: 43px;
}

#direct {
  display: block;
  padding-bottom: 0px;
  margin-top: 0px;
  height: 43px
}


/*** for website ***/
@media only screen and (min-width: 1000px) {
  /* Navbar container */
/* #navLogo {
  float: 
} */

  /* .navbar {
  overflow: hidden;
  background-color: tan;
  font-family: Arial;
} */

/* Links inside the navbar */
/* .navbar a {
  float: right;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */














  .mainImg {
      width: 100%;
      height: 754px;
  }
.direct{
  display: block;
  padding-bottom: 0px;
  margin-top: 0px;
  height: 43px;
}

a.direct:hover {
  color: black;
  border-bottom: red 2px solid
}

h6 {
  font-size: 17px
}

  .services{
    margin-bottom: 0px;
    margin-top: 50px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;  
    justify-content: space-around;
    height: 600px;
  }

  p {
    text-align: left
  }


  .serviceHeader {
    font-weight: 150
  }

  .mainImgDiv {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 150px


  }


/***** Services *****/

.servicesSection {
  text-align: center;
  margin-top: 100px;
  display: flex
  
}

.aboutUs {
  width: 50%;
  padding-right: 200px;
  text-align: left;
  padding-left: 25px;
  margin-top: 35px
}

h2.servicesTitle {
  font-size: 42px;
  font-family: 'Poppins', sans-serif;
  font-weight: 50;
  width: 50%;
  text-align: right;
  padding-left: 200px;
  padding-right: 25px;
  margin-top: 45px
}
  
.vlSectionTitle {
  display: block;
  border-left: 5px solid red;
  height: 182px ;
}

.vlSection {
  display: block;
  border-left: 2px solid #f2f2f2;
  height: 400px ;
}

hr.serviceHr {
  width: 50%;
  border: 2px solid red;
}

.srvImage {
  width:125px;
  height:100px;
  margin-bottom: 25px
}

.servicesP {
  padding: 0px 25px
}

div.children {
  padding-left: 25px;
  padding-right: 25px;
  width: 33%

}

div.wheelchair {
  padding-left: 25px;
  padding-right: 25px;
  width: 33%


}

div.serviceCards  {

  padding-left: 25px;
  padding-right: 25px;
  width: 33%;
}


div.children p {
  font-weight: 50
}

div.wheelchair p {
  font-weight: 50

}

div.serviceCards p {
  font-weight: 50
}



/***** medical div *****/

img.medical {
  height: 422px;
  width: 690px;
  /* margin-top: 0px;
  background-repeat: no-repeat */
  display: block;
  }
}





.medical {
  width: 50%;
  height: 422px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

/* img.medical {
  height: 150px;
  width: 150px;
  margin-bottom: 0px;
 } */

.medDiv {
  display: flex;
  justify-content: center;  
  justify-content: space-around;
  /* align-items: center; */
  margin: 0;
    padding: 0;
    border: 0;
  height: 422px;
  /* width: 100vw; */
}





/***** school div ******/






.schoolDiv {
  display: flex;
  justify-content: center;  
  justify-content: space-around;
  align-items: center;
  
 
}

.school {
  display: block;
  height: 475px;
  width: 519px;
  font-family: 'Poppins', sans-serif;
  /* margin-top: 150px;
  margin-bottom: 150px; */
  font-weight: 400;
}

img.school {
  width: 690px;
  height: 422px;
 
}

/* #medicalImg.medical {
  height: 415px;
  width: 519px;
} */

#div_med.schoolDiv {
  height: 422px;
  
}

img.school {
  display: block;
}

#medicalImg {
  display: none
}


/****** strong babies div *******/
img.mother {
  height: 150px;
  width: 150px;
  box-shadow: 2px 2px 5px grey;
}

.motherDiv {
  display: flex;
  justify-content: center;  
  justify-content: space-around;
  align-items: center;
  background: white;
  /* padding-bottom: 50px; */
}

/* .mother {
  height: 350px;
  width: 519px;
  font-family: 'Poppins', sans-serif;
  margin-top: 150px;
  margin-bottom: 150px;
  font-weight: 400;
} */

img.mother {
  height: 415px;
  width: 519px;
 
}

.wheelchairText{
  width: 50%;
  height: 323.81
}

img.wheelchairImg {
  width: 690px;
  height: 422px;
}

#div_school.motherDiv{
  height: 422px
}


/****** testimonials ******/
.testimonials {
  display: flex;
  /* padding-top: 100px;
  padding-bottom: 100px; */
  text-align: center;
  background: #f2f2f2;
  padding-left: 0px;
  padding-right: 0px;
  height: 422px;
  margin-top: 200px
}

.testimonialDiv {
  width: 50%;
  /* height: 350%; */
  margin-top: 100px
}

h5{
  padding: 0px 85px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 50

}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 50
}




img.imgTestimonial {
  max-width: 690px;
  height: 422px;
  /* object-fit: fill */
}

/* h5 {
  margin-left: 400px;
  margin-right: 400px
} */



/* footer */

.footer{
  margin-top: 10px
} 

.footerContainer {
  padding-top: 75px;
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;  
  justify-content: space-evenly;
}

.footerContainer1 {
  padding-top: 75px;
  margin-top: 0px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;  
  justify-content: space-evenly;
}

/* .footerContainerContact {
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;  
  justify-content: space-evenly;
} */

.fafa-facebook-square {
  display: block;
  width: 42px;
  height: 42px;
}

.column {
  align-items: center;
  text-align: center;
  width: 33%;
  padding-left: 75px
}

.column1 {
  /* align-items: left; */
  text-align: left;
  width: 33%;
  padding-left: 75px
}

h6 {
  font-weight: 200;
  margin-bottom: 0;
  font-family: 'Poppins', sans-serif !important;

}

.footerLogo {
  margin-bottom: 40px;
  width: 150px;
  height: 85px
}

.footerTop {
  margin-top: 45px
}

.vl {
  display: block;
  border-left: 2px solid #f2f2f2;
  height: 200px;
}

.footerLine {
  display: none
}

.footerDesign {
  display: block
}

a.fa.fa-facebook {
  display: block
}

.footerLogo {
  display: block
}








/****Contact****/
.contactWrapper {
  margin-left: 375px;
  margin-right: 375px
} 

.contactTitle {
  text-align: center;
  margin-bottom: 0px;
    font-size: 42px;
    font-family: 'Poppins', sans-serif;
    font-weight: 50;
}

.contactHR {
  margin-bottom: 65px;
  border: 2px red solid

}

.contactph {
  font-family: 'Poppins', sans-serif;;
  font-size: 18px
}



button.contactJoinBtn {
  border: 2px solid red;
  /* text-align: center; */
  background: white;
  font-family: 'Poppins', sans-serif;
  margin-top: 15px;
  border-radius: 25px;
  font-size: 18px;
  box-shadow: 3px 3px 5px grey;
  font-size: 16px

  
}

button.submitContact {
  border: 2px solid red;
  background: white;
  font-family: 'Poppins', sans-serif;
  border-radius: 25px;
  font-size: 18px;
  box-shadow: 3px 3px 5px grey;
  margin: auto;
  display: block;
  margin-top: 25px;
  font-size: 16px
  
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid lightgrey;
}

input[type=text]:focus {
  border: none;
  outline: none
}

input[type=tel] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid lightgrey;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid lightgrey;
}

input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid lightgrey;
}

/**** FAQ ****/

body{
  font-family: 'Poppins', sans-serif;
  margin: 0px
}

.faqWrapper {
  margin-left: 300px;
  margin-right: 300px
}

.faqTitle {
  text-align: center;
  margin-top: 75px;
  margin-bottom: 75px;
  font-size: 42px;
  font-weight: 50
}
.accordion {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

button.accordion{
  font-family: 'Poppins', sans-serif;
}

button.accordion.active {
  color: red
}

.active, .accordion:hover {
  background-color: lightgrey;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  color: red
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-bottom: 1px lightgrey solid;
  font-weight: 50
}

/**** JoinUs *****/
.joinWrapper {
  margin-left: 375px;
  margin-right: 375px;
}

.joinTitle {
  text-align: center;
    font-size: 42px;
    font-family: 'Poppins', sans-serif;
    font-weight: 50;
    margin-bottom: 0px;
    margin-top: 85px;
}

input {
  font-family: 'Poppins', sans-serif
}

.submitLine {
  margin-top: 35px;
  color: lightgrey 2px solid;

}

.contactph {
  font-weight: 50;
  /* color: grey */
}

/* p.contactph {
  font-weight: 50;
  color: grey
} */



/****** Covid *****/
.covidPolicy {
  background: red;
  text-align: center;
}

p.covidP {
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  text-align: center;
}
.covidDiv {
  display: flex;
  width: 70%
}

.covidWrapper {
  margin: 0 300px
}

li ul.covidUl{
  text-align: left
}

div.covidTitle{
  text-align: center;
    font-size: 42px;
    font-family: 'Poppins', sans-serif;
    font-weight: 50;
}

span{
  color: red
}

.covidImgWrapper {
  width: 100%
}

img.covidImg {
  width: 648.5px;
  height: 422px;
  margin-top: 10px; 
  margin-right: 10px;
  margin-left: 20px

}





